.contenedor-Texto{
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4F8A8B;
    box-shadow: 0 3px 13px 1px rgb(0, 0, 0 / 9%);
 }

 .mb-3 {
    width: 100%;
 }

 @media (max-width: 600px){
    .contenedor-Texto{
        width: 90%;
    }
    
    
 }