@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
}

html, body{
  font-size: 18px;
  background-color: #EEEEEE;
  color: #222831;
  font-family: 'Quicksand', sans-serif;
  

}

h1{
  max-width: 940px;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#Marco{
  width: 100%;
}
.Contenedor-Principal{
  width: 100%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.TA{
  width: 90%;
  margin-top: -240px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
